html {
background-image: url(https://image.shutterstock.com/image-vector/pop-art-color-background-memphis-600w-1351562561.jpg)
}
  h1{
    display: block;
    padding-right: 100px;
    margin: auto;
    font-style: italic;
    color: #011936;
    font-family: 'Boogaloo';
    text-align: center;
    font-size: 100px;
  }

  h2{
    display: block;
    padding-right: 100px;
    margin: auto;
    font-style: italic;
    color: #ED254E;
    font-family: 'Boogaloo';
    text-align: center;
    font-size: 50px;
  }

  h3{
    display: block;
    padding-right: 100px;
    margin: auto;
    font-style: italic;
    color: #011936;
    font-family: 'Boogaloo';
    text-align: center;
    font-size: 100px;
  }

  p{
    display: block;
    padding-right: 100px;
    margin: auto;
    font-style: italic;
    color: #011936;
    font-family: 'Boogaloo';
    text-align: center;
    font-size: 50px;
  }

  form{
    display: block;
    padding-right: 100px;
    margin: auto;
    font-style: italic;
    color: #ED254E;
    font-family: 'Boogaloo';
    text-align: center;
    font-size: 50px;
  }


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #D7CDCC;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
